@tailwind base;
@tailwind components;
@tailwind utilities;

/* d */

@font-face {
  font-family: Abel;
  src: url("./Abel-Regular.ttf");
}
body {
  font-family: "Abel", monospace !important;
}
/* Login Page */
.backGround-image {
  background-image: url("../../public/Mask\ group.png");
  background-color: #040a1e;
  min-height: 100vh;
  box-sizing: border-box;
}

.text-login {
  font-family: "Abel", monospace !important;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
}

.login-logo {
  /* margin-top: 20px; */
}

.bg-transparent {
  background-color: transparent !important;
}

.title-login {
  border-bottom: 1px solid white;
  opacity: 1 !important;
}

input,
select,
textarea {
  color: white !important;
}

input:focus {
  outline: none;
}

.btn-grad {
  background-image: linear-gradient(45deg, #58e3fe, #0163ff);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  color: black;
}

.btn-simple {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  color: #0163ff;
  border: 1px solid #0163ff;
}

.chat-btn {
  width: 200px;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}

.account {
  opacity: 0.5;
}

.forget-login {
  opacity: 0.5;
}

.login-text {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 249, 34),
    rgba(255, 0, 128),
    rgba(56, 2, 155, 0)
  );
  border-radius: 100% 0 0 0;
}

.home-text {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

.icon-home {
  color: white;
  /* border: 1px solid white; */
  width: fit-content;
  padding: 6px 9px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -0.5px 0.5px white;
  cursor: pointer;
  /* font-size: 5px; */
}

.icon-blue {
  color: #0163ff;
  /* border: 1px solid white; */
  width: fit-content;
  padding: 6px 9px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -0.5px 0.5px #0163ff;
  cursor: pointer;
}

.menu-item {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
  margin-left: 35px;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 13px;
}

.chat-box {
  background-color: transparent;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, #2d425c79, #2d425c79);
  box-shadow: -0.5px 0.5px #94cc3f;
  /* opacity: 0.7;    */
}

.text-name {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  color: #94cc3f;
}

.text-intro {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

#container {
  /* width: 600px; */
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.circle {
  border-radius: 50%;
  background-color: #415375;
  width: 250px;
  height: 250px;
  position: absolute;
  /* opacity: 0; */
  animation: scaleIn 5s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }

  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.item {
  z-index: 100;
  padding: 5px;
}

.item img {
  width: 150px;
}

#container1 {
  /* width: 600px; */
  height: 100px;
  display: flex;
  padding-right: 20px;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  position: relative;
}
#container2 {
  /* width: 600px; */
  height: 50vh;
  display: flex;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
.circle2 {
  border-radius: 50%;
  background-color: #415375;
  width: 200px;
  height: 200px;
  position: absolute;
  /* opacity: 0; */
  animation: scaleIn 5s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
.circle1 {
  border-radius: 50%;
  background-color: #415375;
  width: 50px;
  height: 50px;
  position: absolute;
  /* opacity: 0; */
  animation: scaleIn 5s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }

  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.item1 {
  z-index: 100;
  padding: 5px;
}

.item img {
  width: 150px;
}
.color-blue {
  color: #2fb6fe !important;
}
.waveDiv {
  position: relative;
  /* margin: 200px; */
}

.waveDiv span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #006eff;
  position: absolute;
  animation: audio-wave 1.5s infinite ease-in-out;
}

.waveDiv span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}

.waveDiv span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}

.waveDiv span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}

.waveDiv span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}

@keyframes audio-wave {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #006eff;
  }
  25% {
    height: 30px;
    transform: translateY(10px);
    background: #3498db;
  }
  /*effect is to animate the height of each span from 5px to 30px*/
  /*translateY makes Y axis move down to give the effect that it is growing from the center*/

  50% {
    height: 5px;
    transform: translateY(0px);
    background: #006eff;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #006eff;
  }
}
.icon-spin {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
